$green-color: #01d167;
$white: #ffffff;
$black: #000000;
$black-two: #222222;
$blue-color: #23cefd;
$standard: 24px;
$dark-blue: #0c365a;
$light-blue: #edf3ff;
$new-blue: #325baf;
$gray: #f5f5f5;
$gray-a: #aaaaaa;
$light-white: #fafcff;
$shadow-black: #0000000a;
$circle-blue: #009dff1a;
